* {
    padding: 0;
    margin: 0;
}



.menu {
    width: 30%;
    background-color: aliceblue;
    margin: 5px;
}

.principal {
    width: 70%;
    margin: 5px;
    background-color: aliceblue;
}


h1 {
    color: aliceblue;
}

.centered-image {
    display: block;
    margin: auto;
    background-color: transparent;
    max-width: 500px; /* Define a largura máxima da imagem */
    max-height: 700px; /* Define a altura máxima da imagem */
    width: auto; /* Permite que a largura seja ajustada automaticamente para manter a proporção */
    height: auto; /* Permite que a altura seja ajustada automaticamente para manter a proporção */
}

  

  
