.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-cadastro {
  width: 300px; /* Ajuste conforme necessário */
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.acao {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn-save,
.btn-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-save:hover,
.btn-cancel:hover {
  background-color: #ddd;
}
