
.mes-verde {
  background-color: green;
}

.mes-vermelho {
  background-color: red;
}
.table-container {
  max-height: calc(100vh - 120px); /* Altura máxima da tabela, ajuste conforme necessário */
  overflow-y: auto; /* Permitir rolagem vertical apenas quando necessário */
}
